<img class="beerimg" src="{{this.image_url}}" alt="{{this.name}}">
<p>LOL</p>
<h3>{{this.name}}</h3>
<p>{{this.tagline}}</p>
<p>{{this.description}}</p>
{{!-- image, name, description, and tagline of the beer. --}}